@charset "utf-8";

/* 박다혜 reset.css */
html,body {width: 100%;height: 100%;}

/* common */
* {margin: 0;padding: 0;font-family: 'Pretendard Variable', 'Pretendard', sans-serif;box-sizing: border-box;word-break: break-all;}
html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,a,form,fieldset,table,th,td,legend,label,button {margin: 0;padding: 0;border: 0;font-size: 15px;font-family: 'Pretendard Variable', 'Pretendard', sans-serif;color: #000;}

input,textarea,select {margin: 0;padding: 0;font-family: 'Pretendard Variable', 'Pretendard', sans-serif;}
input,textarea {-webkit-appearance: none !important;}
select::-ms-expand {display: none;}
a,button {cursor: pointer;}
a,a:link {text-decoration: none;}
body {line-height: 120%;color: #222;letter-spacing: -.04em;-webkit-text-size-adjust: none;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
h1,h2,h3,h4,h5,h6,p {line-height: 1.3em}
fieldset,img,abbr,acronym,label {border: 0 none;}
ol,ul,dl {list-style: none;}
hr {display: none;}
fieldset {border: 0}
label,select,input,textarea {vertical-align: middle}
.notext {display: none;}
